.wrap {
    margin: .5em;
}
    
a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

nav ul {
    list-style: none;
    background: #fefff5;
    text-align: right;
    margin: 0;
    padding: 2em;
    width: 40%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    z-index: 999;

    li {
        padding: .5em 0 0 0;
        margin: 1em 0 0 0;
        a {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .menu-close {
            position: fixed;
            top: 1em;
            right: 1em;
            margin-bottom: auto;
        }
    }
}

header {
    display: flex;
    justify-content: space-between;
    background: #fefff5;

    .my-portfolio {
        padding-top: .4em;
        font-size: 1.5rem;
        font-weight: bold;
    }
}

img {
    width: 48px;
    height: 48px;
}

body {
    font-family: "Space Grotesk";
}

.code-background {
    z-index: -1;
    width: 100%;
    height: auto;
}

.open {
    transform: translateX(0);
}

h3 {
    background-color: #4c9ece;
    text-align: center;
    border-radius: 10px;
    width: fit-content;
    padding: 0 2em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.intro {
    display: block;

    img {
        position: fixed;
        height: 50vh;
        z-index: -1;
        border-radius: 100% 0 100% 0;
        opacity: 0.5;
        object-fit: cover;
        object-position: center;
    }

    .primary {
        text-align: center;

        h1 {
            text-align: center;
        }

        img {
            display: none;
        }
    }
}

.intro-buttons {
    display: flex;
    justify-content: center;
    gap: 2em;

    a {
        background-color: #4c9ece;
        padding: 1em 2em;
        border-radius: 10px;
        font-weight: bold;
    }
}

.actions {
    display: block;
    text-align: center;

    .arrow {
        margin: 2em 0 0 0;
        animation: bounce 1.5s infinite;
    }
}

.projects {
    text-align: center;

    img {
        display: block;
        margin: 1em auto 0 auto;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@media (min-width: 798px) {
    .hide-desktop {
        display: none;
    }

    nav ul {
        display: flex;
        background: none;
        transform: translateX(0%);
        position: unset;
        padding: 1em 0 0 0;
        height: auto;
        width: auto;

        li {
            margin: 0 1em 0 0;
            a {
                font-size: 1rem;
            }
        }

    }
}

@media (min-width: 950px) {
    .code-background {
        position: relative;
        max-width: 950px;
        left: 50%;
        transform: translateX(-50%);

    }
}