body {
  font-family: 'Courier New', monospace;
  background-color: #ffffff;
  color: #000000;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/*header {
  font-family: 'Courier New', monospace;
  background-color: #ffffff;
  padding: 2em;
  text-align: center;
}*/

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Makes it wrap on smaller screens */
}}

section {
  padding: 2em;
  max-width: 800px;
  margin: auto;
}

ul {
  list-style: square;
}

footer {
  background-color: #1f1f1f;
  text-align: center;
  padding: 1em;
  font-size: 0.9em;
}

p {
  font-family: 'Courier New', monospace;
  color: #777;
  /*background-color: #797b7a;
  border-radius: 10px;*/
  text-align: left;
  font-size: 15px;
}

.no-border {
  font-family: 'Courier New', monospace;
  border: #797b7a;
  background: #797b7a; /* optional: removes default gray background */
  padding: 10px;     /* optional: adds space inside the button */
  cursor: pointer;   /* makes the button look clickable */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 10px;
}

.dropdown-content button {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  background-color: #1f6ac2;
  border-radius: 10px;
  cursor: pointer;
  text-align: middle;
  color: #eae8db;
  font-family: 'Courier New', monospace;
}

.show {
  display: block;
}

.custom-button {
  background-color: #1f6ac2;
  color: #eae8db;
  border: none;
  margin: 5px, 0;
  border-radius: 10px;
  text-align: center;
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
  height: 25px;
  font-family: 'Courier New', Courier, monospace;
}

.top-bar {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px;
}

h1 {
  margin-top: 30px;
  text-align: center;
  font-family: 'Courier New', monospace;
  font-size: 30px;
}

h2 {
  /*background-color: #797b7a;
  border-radius: 10px;*/
  color: #000000;
  font-family: 'Courier New', monospace; 
  text-align: center;
  font-size: 25px;
}

h3 {
  /*background-color: #797b7a;
  border-radius: 10px;*/
  color: #000000;
  font-family: 'Courier New', monospace; 
  text-align: center;
  font-size: 18px;
}

.flex-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.container {
  text-align: center;
}

a {
  color: #1f6ac2;
  text-decoration: none;
}